:root {
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #000028;
  --text-font: "IBM Plex Mono";
  --card-text-color: #f1b2ce;
  --border-color:var(--accent-color);
  --button-text-color:var(--accent-color);
  --button-border-color:var(--accent-color);
  --section-title-color: var(--accent-color);
}

